name: Pyright
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock
      - .github/workflows/pyright.yml
  pull_request:
    branches:
      - main
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock
      - .github/workflows/pyright.yml

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Project
        run: uv sync --frozen --no-dev

      - name: Generate Prisma client
        run: |
          uv run prisma generate
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          extra-args: '--outputjson'
